---
---

.Buletin{
    width:150px;
    height:100px;
    box-shadow: 0 0 10px black;
    &--tilt {
        transform: rotate(10deg);
    }
}
.QRcode{
    line-height: 1;
    transform: scaleX(2);
    transform-origin: left;
}