---
---
@import "{{ site.theme }}";


#header_wrap {
    background: #212121;
    background-image: -moz-linear-gradient(bottom, #0009,#0001), -moz-linear-gradient(right, #002654,#002654 33%,#FFFFFF 33%,#FFFFFF 66%,#CE1126 66%,#CE1126);
    background-image: -webkit-linear-gradient(bottom, #0009,#0001), -webkit-linear-gradient(right, #002654,#002654 33%,#FFFFFF 33%,#FFFFFF 66%,#CE1126 66%,#CE1126);
    background-image: -ms-linear-gradient(bottom, #0009,#0001), -ms-linear-gradient(right, #002654,#002654 33%,#FFFFFF 33%,#FFFFFF 66%,#CE1126 66%,#CE1126);
    background-image: -o-linear-gradient(bottom, #0009,#0001), -o-linear-gradient(right, #002654,#002654 33%,#FFFFFF 33%,#FFFFFF 66%,#CE1126 66%,#CE1126);
    background-image: linear-gradient(to bottom, #0009,#0001), linear-gradient(to right, #002654,#002654 33%,#FFFFFF 33%,#FFFFFF 66%,#CE1126 66%,#CE1126);
}

.columns{
    &.sticky{
        align-items: flex-start;
        &>.column{
            min-height: 100vh;
            position: sticky;
            top: 0;
        }
    }
    display:flex;
    .graphics {
        min-height: 100vh;
    }
    .text {
        padding:10px;
    }
    .column{
        min-width:320px;
        width:320px;
        flex-grow:1;
    }
}
.Buletin-graphics {
    display:flex;
    align-content: center;
    justify-content: center;
    background: silver;
    align-items: center;
}
.Buletin{
    display: flex;
    background: white;
    width: 200px;
    height: 100px;
    box-shadow: 0 0 10px black;
    padding: 10px;
    gap: 10px;
    justify-content: flex-start;
    align-content: center;
    align-items: center;
    &--tilt {
        transform: rotate(10deg);
    }
}
.QRcode{
    line-height: 1;
    font-size: 2px;
    font-family: Monaco, "Bitstream Vera Sans Mono", "Lucida Console", Terminal, monospace;
    white-space: pre;
}